<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liangmayong.appbox">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <!--seize a seat activity-->
        <activity
            android:name=".core.box.BoxActivity"
            android:enabled="true"
            android:process=":appbox"
            android:exported="true" />
        <!--seize a seat service-->
        <service
            android:name=".core.box.BoxService"
            android:enabled="true"
            android:process=":appbox"
            android:exported="true" />
    </application>

</manifest>
